* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}
/* Banner Section styles */
.banner {
  background-image: url(images/banner/banner3.png);
  background-repeat: no-repeat;
  padding: 215px 230px 230px 845px;
}
.banner-content {
  text-align: right;
  color: #ffffff;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  margin-bottom: 24px;
}
.banner-description {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 32px;
}
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  color: #005fac;
  border: 0;
  border-radius: 5px;
  padding: 20px;
}
/* About Section Styles */
.about {
  margin: 130px 322px 130px 206px;
}
.contents {
  display: flex;
  gap: 80px;
}
.about-content {
  padding: 239px 0 84px 0;
}
.section-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.section-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-top: 24px;
  margin-bottom: 16px;
}
.about-list li {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-top: 8px;
}
/* My plan Section Styles */
.my-plan {
  margin: 0 230px 130px 230px;
  text-align: center;
}
.container {
  display: flex;
  gap: 86px;
  margin-top: 50px;
}
.content-title {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
}
.my-plan-banner {
  padding: 60px;
  text-align: left;
}
.my-plan-banner-title {
  font-weight: 700;
  font-size: 40px;
  /* color: #ffffff; */
}
